*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: #bc986a;
    /* border-bottom: 5px solid #fbeec1; */
}

.headtext{
    padding:0;
    margin:0;
    opacity: 0.3;
}

.headtext p{
    font-size: 1em;
}

.right{
    float: right;
}

.right a{
    float: left;
}

.nav-link{
    color: #fbeec1;
    font-size: 20px;
}

.first .nav-link:hover{
    border-left: 5px solid #fbeec1;
    color:#fbeec1;
}

.row{
    margin:40px;
} 

.column {
    float: left;
    padding: 10px;
    height: 330px; /* Should be removed. Only for demonstration */
}

.one{
    width:62%;  
}

.two{
    margin-left: 15px;
    width:36%;
    border: 2px solid #808080;
    border-radius: 20px;
}

input{
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 7px;
}

.firstinput{
    width:49%;
    float: left;
    font-size: 14px;
}
.secondinput{
    width:49%;
    float: right;
    font-size: 14px;
}

.propertylist{
    font-size: 14px;
    width: 39%;
    
}

.floorlist{
    width:49%;
    float: left;
    font-size: 14px;
}

.bedroomlist{
    font-size: 14px;
    width: 37.5%;
}

.floorno{
    width:49%;
    float: right; 
    font-size: 14px;
}

.cparkingnumber{
    width:49%;
    float: left;
    font-size: 14px;
}

.oparkingnumber{
    width:49%;
    float: right;
    font-size: 14px;
}

.sub{
    margin-top: 20px;
    width:50%;
    margin-left: 25%;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: white;
    border: 2px solid #bc986a;
   
}

button:hover{
    background-color: #bc986a;
    color: #fbeec1;
}

input[type=text]::placeholder, input[type=NUMBER]::placeholder{
    text-align: left;
    font-size: 14px;
}

.footer{
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#bc986a;
    color: #fbeec1;
    text-align: center;
    font-size: 12px;
}
/* @media (max-width:1280px){
    button{
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
    #fast{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        height:65px;
    }

    .two{
        height: 600px;
    }
    .twotwo{
        height: 650px;
    }
}
@media (max-width:1024px){
    .two{
        width:50%;
    }
    .one, .three{
        width:25%;
    }
    .twotwo{
        width:50%;
    }
    .oneone, .threethree{
        width:25%;
    }

}
@media (max-width:767px){
    .two{
        width:65%;
    }
    .one, .three{
        width:17%;
    }
    .twotwo{
        width:65%;
    }
    .oneone, .threethree{
        width:17%;
    }
}
@media (max-width:480px){
    .two{
        width:85%;
    }
    .one, .three{
        width:7%;
    }
    .twotwo{
        width:85%;
    }
    .oneone, .threethree{
        width:7%;
    }
} */